* {
  padding: 0;
  margin: 0;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: flex-end;
}
.cardAndButton {
  display: flex;
  justify-content: space-between;
  width: 900px;
  margin-top: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 28px;
}
.image {
  width: 150px;
  height: 390px;
}
.buttonWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
}
.infoPageContent {
  display: flex;
  justify-content: column;
}
.block {
  display: none;
}
.info-container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 900px;
}
.heading {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
    font-weight: 600;
  font-size: 29px;
}
.small-heading {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.bear-name {
  margin-bottom: 60px;
}
.info-text {
  font-family: "Inter", sans-serif;
  line-height: 1.5em;
}
.info {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.seeMore {
  color: #000;
  font-family: "Inter", sans-serif;
  display: flex;
  font-weight: 500;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
}
.material-symbols-outlined {
  font-size: 15px;
}
